@use 'common' as *;

.select {
  appearance: none;
  white-space: pre-wrap;
  display: inline-block;
  border-bottom: 2px solid $medium-gray;
  background-color: $white;
  padding: $spacing-400 $spacing-900 $spacing-50 0;
  width: 100%;
  color: $medium-gray;
  font: calculate-rem(18) / 1.4 $open-sans-family;
  font-weight: $open-sans-semi-bold;

  @include bp-medium {
    padding-left: $spacing-200;
    font-size: calculate-rem(20);
  }

  &__container {
    position: relative;
    overflow: hidden;
    margin-bottom: $spacing-600;

    @include bp-medium {
      margin-bottom: $spacing-800;
    }
  }

  &--active {
    border-bottom: 2px solid $green;
    color: $dark-gray;
    font-size: calculate-rem(20);

    @include bp-medium {
      font-size: calculate-rem(22);
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &__label {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    color: $green;
    font: calculate-rem(14) $open-sans-family;
    font-weight: $open-sans-semi-bold;

    @include bp-medium {
      left: $spacing-200;
    }

    &--active {
      opacity: 1;
      z-index: 2;
    }
  }

  &__arrow {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    color: $medium-gray;
    font-size: calculate-rem(40);
    pointer-events: none;
  }

  option {
    color: $dark-gray;

    &:disabled {
      opacity: 0.5;
      color: $medium-gray;
    }
  }

  &--invalid {
    color: $red;
    border-color: $red;
  }
}
